<!--The content below is only a placeholder and can be replaced.-->
<div el-row gutter="5">
  <div el-col span="6" xs="18">
    <el-input placeholder="请输入基站编码" [(model)]="params.basestation">
      <ng-template #prepend>
        <span>基站编码：</span>
      </ng-template>
    </el-input>
  </div>
  <div el-col span="4">
    <el-button (click)="searchByBase()">Search</el-button>
  </div>
  <div el-col span="14">
  </div>
</div>

<el-table [model]="anyList.rows" center="all" scroll-x="true">
  <el-table-column model-key="id" label="#" width="50">
  </el-table-column>
  <el-table-column model-key="basestation" label="基站编码" width="140">
  </el-table-column>
  <el-table-column model-key="trafficCurrent" label="当前小时流量" width="140">
  </el-table-column>
  <el-table-column model-key="traffic1h" label="预测第一小时" width="140">
  </el-table-column>
  <el-table-column model-key="traffic2h" label="预测第二小时" width="140">
  </el-table-column>
  <el-table-column model-key="traffic3h" label="预测第三小时" width="140">
  </el-table-column>
  <el-table-column model-key="traffic4h" label="预测第四小时" width="140">
  </el-table-column>
  <el-table-column model-key="traffic5h" label="预测第五小时" width="140">
  </el-table-column>
</el-table>
<el-pagination [total]="anyList.total" [page-size]="params.pageSize" [(model)]="params.pageNumber" (modelChange)="pageJump($event)"
               [layout]="['prev', 'pager', 'next', 'jumper', 'total']">
</el-pagination>
